<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Ubah Data Kontak</h2>

            <% if (typeof errors != 'undefined') { %>
             <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }) %>
                </ul>
             </div>
            <% } %>

            <form method="post" action="/contact?_method=PUT">
              <input type="hidden" name="idContact" value="<%= contact._id %>">
              <input type="hidden" name="oldNpm" value="<%= contact.oldNpm || contact.npm %>"> <!-- Blh pkk ternary atw lngsng operator OR -->
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required value="<%= contact.nama %>">
                </div>
                <div class="form-group">
                  <label for="npm">NPM</label>
                  <input type="text" class="form-control" id="npm" name="npm" required  value="<%= contact.npm %>">
                </div>
                <div class="form-group">
                  <label for="noHp">Nomor HP</label>
                  <input type="text" class="form-control" id="noHp" name="noHp" required value="<%= contact.noHp %>">
                </div>
                <button type="submit" class="btn btn-primary">Ubah</button>
            </form>
        </div>
    </div>
</div>